.banner {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 10vh;
}

.banner-small-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--red);
    background-color: var(--background-red-small-button);
    padding: 0.5em 1em;
    border-radius: 16px
}

.banner-title {
    font-size: 36px;
    font-weight: 600;
    color: var(--black);
    margin: 0.5em 0 0.8em 0;
}

.banner-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 3em;
}

.banner-image {
    width: 100%;
}